<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Black+Ops+One:wght@400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div>
      <link href="./desktop8.css" rel="stylesheet" />

      <div class="desktop8-container">
        <div class="desktop8-desktop8">
          <span class="desktop8-text"><span>TRAPSY</span></span>
          <span class="desktop8-text02"><span>Home Page</span></span>
          <img
            alt="Rectangle235377"
            src="public/playground_assets/rectangle235377-xgun-200h.png"
            class="desktop8-rectangle23"
          />
          <span class="desktop8-text04"><span>Search</span></span>
          <img
            alt="Vector5379"
            src="public/playground_assets/vector5379-4m67.svg"
            class="desktop8-vector"
          />
          <img
            alt="Rectangle245380"
            src="public/playground_assets/rectangle245380-1r7g-500w.png"
            class="desktop8-rectangle24"
          />
          <img
            alt="Screenshot2022120620400025385"
            src="public/playground_assets/screenshot2022120620400025385-7y3k-200h.png"
            class="desktop8-screenshot202212062040002"
          />
          <span class="desktop8-text06"><span>My Documents</span></span>
          <span class="desktop8-text08"><span>Submission</span></span>
          <span class="desktop8-text10"><span>Settings</span></span>
          <span class="desktop8-text12"><span>Help and Support</span></span>
          <span class="desktop8-text14"><span>Sign Out</span></span>
          <span class="desktop8-text16"><span>About Us</span></span>
          <div class="desktop8-frameiconfiletextoutline">
            <div class="desktop8-group">
              <img
                alt="Vector5311"
                src="public/playground_assets/vector5311-86e8.svg"
                class="desktop8-vector01"
              />
              <img
                alt="Vector5311"
                src="public/playground_assets/vector5311-01h.svg"
                class="desktop8-vector02"
              />
              <img
                alt="Vector5311"
                src="public/playground_assets/vector5311-dbl.svg"
                class="desktop8-vector03"
              />
            </div>
          </div>
          <div class="desktop8-frameiconquestionmarkcircleoutline">
            <div class="desktop8-group1">
              <img
                alt="Vector5314"
                src="public/playground_assets/vector5314-ia9.svg"
                class="desktop8-vector04"
              />
              <img
                alt="Vector5314"
                src="public/playground_assets/vector5314-dp8o.svg"
                class="desktop8-vector05"
              />
              <img
                alt="Vector5314"
                src="public/playground_assets/vector5314-x8g.svg"
                class="desktop8-vector06"
              />
            </div>
          </div>
          <div class="desktop8-frameiconpeople">
            <div class="desktop8-group2">
              <img
                alt="Vector5315"
                src="public/playground_assets/vector5315-kl6f.svg"
                class="desktop8-vector07"
              />
              <img
                alt="Vector5315"
                src="public/playground_assets/vector5315-fmx.svg"
                class="desktop8-vector08"
              />
              <img
                alt="Vector5315"
                src="public/playground_assets/vector5315-7rf.svg"
                class="desktop8-vector09"
              />
            </div>
          </div>
          <div class="desktop8-frameiconoptions2outline">
            <div class="desktop8-group3">
              <img
                alt="Vector5315"
                src="public/playground_assets/vector5315-rvl4.svg"
                class="desktop8-vector10"
              />
              <img
                alt="Vector5316"
                src="public/playground_assets/vector5316-j51l.svg"
                class="desktop8-vector11"
              />
              <img
                alt="Vector5316"
                src="public/playground_assets/vector5316-waf9.svg"
                class="desktop8-vector12"
              />
            </div>
          </div>
          <div class="desktop8-frameiconlogoutoutline">
            <div class="desktop8-group4">
              <img
                alt="Vector5317"
                src="public/playground_assets/vector5317-epyl.svg"
                class="desktop8-vector13"
              />
              <img
                alt="Vector5317"
                src="public/playground_assets/vector5317-yc4e.svg"
                class="desktop8-vector14"
              />
            </div>
          </div>
          <img
            alt="Rectangle255317"
            src="public/playground_assets/rectangle255317-7i9n-400w.png"
            class="desktop8-rectangle25"
          />
          <img
            alt="Rectangle265319"
            src="public/playground_assets/rectangle265319-oz2-400w.png"
            class="desktop8-rectangle26"
          />
          <span class="desktop8-text18"><span>Demo Document</span></span>
          <span class="desktop8-text20"><span>Upload</span></span>
          <img
            alt="Line45317"
            src="public/playground_assets/line45317-qux.svg"
            class="desktop8-line4"
          />
          <img
            alt="Line55320"
            src="public/playground_assets/line55320-n1nk.svg"
            class="desktop8-line5"
          />
          <img
            alt="Line65320"
            src="public/playground_assets/line65320-drzk.svg"
            class="desktop8-line6"
          />
          <img
            alt="Line75320"
            src="public/playground_assets/line75320-t16.svg"
            class="desktop8-line7"
          />
          <span class="desktop8-text22"><span>NEW</span></span>
          <div class="desktop8-frameiconfileoutline">
            <img
              alt="Vector5318"
              src="public/playground_assets/vector5318-a97.svg"
              class="desktop8-vector15"
            />
          </div>
          <div class="desktop8-frameiconcloudupload">
            <div class="desktop8-group5">
              <img
                alt="Vector5318"
                src="public/playground_assets/vector5318-o2us.svg"
                class="desktop8-vector16"
              />
              <img
                alt="Vector5318"
                src="public/playground_assets/vector5318-4eqm.svg"
                class="desktop8-vector17"
              />
            </div>
          </div>
          <div class="desktop8-frameiconcloudupload1">
            <div class="desktop8-group6">
              <img
                alt="Vector5319"
                src="public/playground_assets/vector5319-5jn.svg"
                class="desktop8-vector18"
              />
              <img
                alt="Vector5319"
                src="public/playground_assets/vector5319-5qii.svg"
                class="desktop8-vector19"
              />
            </div>
          </div>
          <span class="desktop8-text24">
            <span>
              Lorem ipsum dolor sit am etcon sectetur adipiscing elit, sed
              doeiusmod tempor incididunt utabore et dolore magna aliqua. Ut
              enim ad mi
            </span>
          </span>
          <div class="desktop8-frameicontrash">
            <img
              alt="Vector5320"
              src="public/playground_assets/vector5320-gpze.svg"
              class="desktop8-vector20"
            />
          </div>
          <span class="desktop8-text26"><span>09</span></span>
          <img
            alt="Ellipse35333"
            src="public/playground_assets/ellipse35333-oas-200w.png"
            class="desktop8-ellipse3"
          />
          <div class="desktop8-frameiconarrowiosback">
            <img
              alt="Vector5333"
              src="public/playground_assets/vector5333-wl5g.svg"
              class="desktop8-vector21"
            />
          </div>
          <div class="desktop8-frameiconuploadoutline">
            <div class="desktop8-group7">
              <img
                alt="Vector7152"
                src="public/playground_assets/vector7152-c6v.svg"
                class="desktop8-vector22"
              />
              <img
                alt="Vector7153"
                src="public/playground_assets/vector7153-seza.svg"
                class="desktop8-vector23"
              />
              <img
                alt="Vector7154"
                src="public/playground_assets/vector7154-vroz.svg"
                class="desktop8-vector24"
              />
              <img
                alt="Vector7155"
                src="public/playground_assets/vector7155-vsjp.svg"
                class="desktop8-vector25"
              />
              <img
                alt="Vector7156"
                src="public/playground_assets/vector7156-a4pq.svg"
                class="desktop8-vector26"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
