<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Black+Ops+One:wght@400&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div>
      <link href="./desktop3.css" rel="stylesheet" />

      <div class="desktop3-container">
        <div class="desktop3-desktop3">
          <div class="desktop3-mainframe">
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8796d208-83f7-46d8-9670-609db10a3133/8b17c91b-2c5e-4c00-adf3-f6f932d5647c?org_if_sml=19500"
              alt="Rectangle14323"
              class="desktop3-rectangle14"
            />
            <img
              src="public/playground_assets/rectangle229714-flyh.svg"
              alt="Rectangle229714"
              class="desktop3-rectangle22"
            />
            <img
              src="public/playground_assets/rectangle249715-dzsb.svg"
              alt="Rectangle249715"
              class="desktop3-rectangle24"
            />
            <span class="desktop3-text"><span>TRAPSY</span></span>
            <span class="desktop3-text02">
              <span>Plagiarism Detector by TRAPSY</span>
            </span>
            <span class="desktop3-text04">
              <span>
                <span>
                  TRAPSY’s plagiarism checker detects plagiarism in your
                </span>
                <br />
                <span>text and checks for other writing issues.</span>
                <br />
                <span></span>
              </span>
            </span>
            <span class="desktop3-text11">
              <span>Enter text here or upload file to check plagiairsm</span>
            </span>
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8796d208-83f7-46d8-9670-609db10a3133/46045674-f53e-4717-9174-ed086c72f1d4?org_if_sml=1773"
              alt="Rectangle153313"
              class="desktop3-rectangle15"
            />
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8796d208-83f7-46d8-9670-609db10a3133/b974a4c8-8e21-425c-be8c-235621f39011?org_if_sml=1677"
              alt="Rectangle219714"
              class="desktop3-rectangle21"
            />
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8796d208-83f7-46d8-9670-609db10a3133/b3d02828-43ab-4e90-8b76-ff703cae83b4?org_if_sml=1660"
              alt="Rectangle239715"
              class="desktop3-rectangle23"
            />
            <span class="desktop3-text13">
              <span>Why use Plagiarism Detector?</span>
            </span>
            <span class="desktop3-text15">
              <span>How does TRAPSY work?</span>
            </span>
            <span class="desktop3-text17"><span>Check Plagairsm</span></span>
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8796d208-83f7-46d8-9670-609db10a3133/e2f08132-d866-4c2c-b173-3caf836f4588?org_if_sml=1718"
              alt="Rectangle163316"
              class="desktop3-rectangle16"
            />
            <div class="desktop3-frameiconclouduploadoutline">
              <div class="desktop3-group">
                <img
                  src="public/playground_assets/vector3321-7mv.svg"
                  alt="Vector3321"
                  class="desktop3-vector"
                />
                <img
                  src="public/playground_assets/vector3322-rtj6.svg"
                  alt="Vector3322"
                  class="desktop3-vector1"
                />
              </div>
            </div>
            <span class="desktop3-text19"><span>Upload File</span></span>
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8796d208-83f7-46d8-9670-609db10a3133/5c47ca93-2235-49b2-a8ae-d4ce583e0ec0?org_if_sml=15291"
              alt="Screenshot2022120620400013326"
              class="desktop3-screenshot202212062040001"
            />
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8796d208-83f7-46d8-9670-609db10a3133/4b167a43-dd5e-417a-bb5c-f53db5b7d7f7?org_if_sml=1765"
              alt="Rectangle173328"
              class="desktop3-rectangle17"
            />
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8796d208-83f7-46d8-9670-609db10a3133/14458adc-39af-409c-8b21-c319c6dd818d?org_if_sml=1765"
              alt="Rectangle183330"
              class="desktop3-rectangle18"
            />
            <span class="desktop3-text21"><span>Sign Up</span></span>
            <span class="desktop3-text23"><span>Sign In</span></span>
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8796d208-83f7-46d8-9670-609db10a3133/6f2251d9-3fd0-4298-91d0-9cb4157e7c43?org_if_sml=1145866"
              alt="plagpic2removebgpreview19715"
              class="desktop3-plagpic2removebgpreview1"
            />
            <span class="desktop3-text25">
              <span>
                <span>
                  Our online plagiarism checker compares your text to over 16
                  billion web pages and academic papers stored in ProQuest’s
                  databases. When part of your text matches something written
                  online or in a database, you’ll get a plagiarism alert.
                </span>
                <br />
                <span></span>
                <br />
                <span>
                  When you use TRAPSY free online plagiarism check to detect
                  plagiarism, you’ll see an instant report that tells you
                  whether or not plagiarism was found and how many grammar and
                  writing issues are present in your document. TRAPSY Premium
                  plagiarism checker flags specific sentences and provides
                  reference information about the source, calculates an overall
                  originality score for your document.
                </span>
                <br />
                <span></span>
                <br />
                <span>
                  Rest assured, your writing will stay private. Our plagiarism
                  checker will not make your writing searchable publicly or in
                  any other database. No other plagiarism checkers will see your
                  text.
                </span>
              </span>
            </span>
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8796d208-83f7-46d8-9670-609db10a3133/f71f27dc-a0ba-492f-9517-daaae0f4f972?org_if_sml=136026"
              alt="plagpicremovebgpreview19715"
              class="desktop3-plagpicremovebgpreview1"
            />
            <img
              src="public/playground_assets/rectangle291023-rdo.svg"
              alt="Rectangle291023"
              class="desktop3-rectangle29"
            />
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8796d208-83f7-46d8-9670-609db10a3133/3648be84-6a50-4f00-873d-d8ec97ccc0c8?org_if_sml=1644"
              alt="Rectangle321023"
              class="desktop3-rectangle32"
            />
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8796d208-83f7-46d8-9670-609db10a3133/e7f8c500-98b4-460b-9070-9bfce7bac1e4?org_if_sml=1618"
              alt="Rectangle351023"
              class="desktop3-rectangle35"
            />
            <span class="desktop3-text36">
              <span>Plagiarism Checking</span>
            </span>
            <span class="desktop3-text38"><span>Contact Us</span></span>
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8796d208-83f7-46d8-9670-609db10a3133/ae06e0c5-2c6f-4f9a-b1b5-e11e2f2fc055?org_if_sml=1145866"
              alt="plagpic2removebgpreview21024"
              class="desktop3-plagpic2removebgpreview2"
            />
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8796d208-83f7-46d8-9670-609db10a3133/a3e3ab56-a7d6-4fec-9fd2-b3a79bec7f0e?org_if_sml=12219"
              alt="Rectangle361024"
              class="desktop3-rectangle36"
            />
            <span class="desktop3-text40"><span>Huzaifa Hafeez</span></span>
            <span class="desktop3-text42"><span>Hamza Mushtaq</span></span>
            <span class="desktop3-text44">
              <span>huzaifahafeez389@gmail.com</span>
            </span>
            <span class="desktop3-text46">
              <span>hamzamushtaq39@gmail.com</span>
            </span>
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8796d208-83f7-46d8-9670-609db10a3133/01d217f7-2509-4282-88b1-16b02b884a01?org_if_sml=111765"
              alt="IMG20190604WA005661024"
              class="desktop3-i-m-g20190604w-a00566"
            />
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8796d208-83f7-46d8-9670-609db10a3133/ad1b5639-14e7-46a0-b01f-6b943e9991c2?org_if_sml=19800"
              alt="IMG20190604WA005671024"
              class="desktop3-i-m-g20190604w-a00567"
            />
            <img
              src="public/playground_assets/line121024-jrw.svg"
              alt="Line121024"
              class="desktop3-line12"
            />
            <img
              src="public/playground_assets/line131024-dgfh.svg"
              alt="Line131024"
              class="desktop3-line13"
            />
            <div class="desktop3-frameiconlinkedin"></div>
            <span class="desktop3-text48">
              <span>2022 TRAPSY Plagiarism Detector. All Right Reserved.</span>
            </span>
            <span class="desktop3-text50">
              <span>
                TRAPSY plagiarism checker can detect plagiarism from billions of
                web pages as well as from ProQuest’s academic databases. Our
                free plagiarism check will tell you whether or not your text
                contains duplicate content. Our Premium plagiarism check
                highlights passages that require citations and givesyou the
                resources you need to properly credit your sources.
              </span>
            </span>
            <span class="desktop3-text52">
              <span>
                <span>
                  You’re working on a paper and you’ve just written a line that
                  seems kind of familiar. Did you read it somewhere while you
                  were researching the topic? If you did does that count as
                  plagiarism? Now that you know you borrowed from somewhere. You
                  didn’t bother with a citation at the time But now they’re an
                  important part of your paper. Is it still plagiarism if you’re
                  using less than a paragraph?
                </span>
                <br />
                <span></span>
                <br />
                <span>
                  Using someone else’s text without attribution is plagiarism,
                  whether you meant to do it or not. For students, plagiarism
                  often means a failing grade, academic probation, or worse.
                  Fortunately, there is a tool that can help. TRAPSY online
                  plagiarism checker can help you ensure that you have properly
                  identified and cited anything in your text that isn’t 100
                  percent original.
                </span>
                <br />
                <span></span>
                <br />
                <span>
                  We originally designed our online plagiarism checker for
                  students, but it’s a useful tool for writers in any field who
                  want to create fresh, original, plagiarism-free work.
                </span>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
