<home>
   <body>
      <title>Plagiarism Checker</title>
      <body style="background-color:green;">
      
      <form action="http://localhost:5000" method="POST">
      <h1 class="color_fff content_tool_heading text-center fw600">TRAPSY Plagiarism Checker</h1>
      <h2>
      <img class="main-logo img-fluid dsk-xl-none" id="mainLogo" src="https://www.trapsy.com/assets/theme_images/darkmode-logo-trapsy.png" data-themesrc="https://as1.ftcdn.net/v2/jpg/05/21/38/00/1000_F_521380019_PgKIYJRJpVFSj7MJuCiXjeA9RRZ6wHJR.jpg" alt="logo-trapsy-1920">
	<h2>
	         <p>Input Text : </p>
         <p><textarea name="query" rows="8" cols="50" autofocus>{{query}}</textarea></p>
         <br>
         <p><input type="submit" name="submit" value="CHECK PLAGIARISM"></p>
         <br>
         <p><h3>{{output}}</h3></p>
      </form>
      </body>
   </body>
</home>
