.desktop3-container {
  min-height: 100vh;
}
.desktop3-desktop5 {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(89, 218, 56, 1);
}
.desktop3-text {
  top: 169px;
  left: 985px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Black Ops One;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop3-text02 {
  top: 169px;
  left: 985px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Black Ops One;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop3-screenshot202212062040001 {
  top: 169px;
  left: 33px;
  width: 364px;
  height: 252px;
  position: absolute;
  border-color: transparent;
}
.desktop3-rectangle14 {
  top: 313px;
  left: 1011px;
  width: 266px;
  height: 67px;
  position: absolute;
  border-color: transparent;
  border-radius: 35px;
}
.desktop3-rectangle16 {
  top: 538px;
  left: 1019px;
  width: 266px;
  height: 67px;
  position: absolute;
  border-color: transparent;
  border-radius: 35px;
}
.desktop3-rectangle17 {
  top: 685px;
  left: 1019px;
  width: 266px;
  height: 67px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.desktop3-text04 {
  top: 706px;
  left: 1124px;
  color: rgba(217, 217, 217, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: KoHo;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop3-rectangle15 {
  top: 425px;
  left: 1011px;
  width: 266px;
  height: 67px;
  position: absolute;
}
.desktop3-text06 {
  top: 334px;
  left: 1074px;
  color: rgba(35, 31, 32, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: KoHo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop3-text08 {
  top: 446px;
  left: 1076px;
  color: rgba(35, 31, 32, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: KoHo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop3-text10 {
  top: 816px;
  left: 1152px;
  color: rgba(35, 31, 32, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: KoHo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop3-text12 {
  top: 560px;
  left: 1094px;
  color: rgba(35, 31, 32, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: KoHo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop3-text14 {
  top: 421px;
  left: 231px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Black Ops One;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop3-ellipse1 {
  top: 20px;
  left: 21px;
  width: 71px;
  height: 72px;
  position: absolute;
  border-color: transparent;
}
.desktop3-frameiconarrowiosback {
  top: 34px;
  left: 30px;
  width: 52px;
  height: 43px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop3-vector {
  top: 8.956093788146973px;
  left: 17.317138671875px;
  width: 15px;
  height: 25px;
  position: absolute;
}
.desktop3-frameicongoogle {
  top: 900px;
  left: 1067px;
  width: 92px;
  height: 88.99996948242188px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop3-vector1 {
  top: 0px;
  left: 0px;
  width: 58px;
  height: 57px;
  position: absolute;
}
.desktop3-line1 {
  top: 865.4423828125px;
  left: 943.0123901367188px;
  width: 428px;
  height: 2px;
  position: absolute;
}
.desktop3-frameiconfacebook {
  top: 894px;
  left: 1195px;
  width: 68.00001525878906px;
  height: 68px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop3-vector2 {
  top: 8px;
  left: 17px;
  width: 51px;
  height: 55px;
  position: absolute;
}
